.ShopWrapper {
  horizontal-align: center;
  margin-top: 40px;
  padding-bottom: 200px;
}
.ShopWrapper.autohide {
  margin-top: -100px;
}
.ShopWrapper.hover, .ShopWrapper.autohide.hover {
  margin-top: 40px;
}

.ShopWrapper.hidden {
  transform: translateY(-100%);
}
.ShopOptions {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65ff ), to( #252525ee ) );
  padding: 0px 20px 10px;
  flow-children: down;
}

.ShopOptions .hidden {
  visibility: collapse;
}

.ShopOptions Label {
  color: white;
  border: 1px solid black;
  padding: 2px 10px;
  margin-top: 5px;
  horizontal-align: center;
}
