
#ModeOptions {
  margin-top: 74%;
  horizontal-align: center;
  flow-children: right;
}

#StartButton {
  margin-top: 80%;
  horizontal-align: center;
}
#StartButton Label {
  font-size: 56px;
  padding: 20px 100px;
}
#ModeOptions Label {
  font-size: 32px;
  padding: 10px 50px;
}

#StartButton Label, #ModeOptions Label {
  color: white;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65ff ), to( #252525ff ) );
}
